.important {
  color: purple;
  font-style: italic;
}

.unimportant {
  color: blue;
  font-weight: bold;
}
.highlight{
  color: Pink;
}
.black-background {
  color: white;
  background-color: black;
}
.white-background {
  color: black;
  background-color: white;
}
.btn {
  margin-bottom: 5px;
}
.clickable1, .clickable2, .clickable3 {
  color: blue;
}
.highlight {
  background-color: yellow;
  border: 1px solid black;
}
